<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
</head>
<body>
    <div class="container">
        {% for row in range(rows): %}
            <div class="checkrow">
            {% for col in range(columns) %}
                {% if (row+col)%2 == 0 %}
                    <div class="box" style="background-color: {{color_odd}};"></div>
                {% else %}
                    <div class="box" style="background-color: {{color_even}};"></div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>