<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p, h3, li{
            color: {{color}};
        }
    </style>
</head>
<body>
    <p>Welcome adventurer!</p>
    <ol>
        {% if print_this == True %}
            {% for i in range(10): %}
                <li>{{monkey}}</li>
            {% endfor %}
        {% else %}
            {% for user in users_list: %}
                <h3>{{user}}</h3>
            {% endfor %}
        {% endif %}
    </ol>


</body>
</html>